* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;

  --padding: 30px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);

  display: flex;
  gap: 6rem;

  margin: 4rem;

  font-family: 'Merriweather Sans', sans-serif;
}

aside {
  flex: 1;
}

#aside-content,
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#aside-content {
  margin-top: 3rem;
}

main {
  flex: 2;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

a {
  color: var(--text-color);
}

nav {
  visibility: hidden;
  position: absolute;
}

/*Todas as caixas terão as seguintes propriedades*/
.box {
  padding: 3rem;

  border: 1px solid var(--body-bg-color);
  border-radius: 2rem;

  background-color: var(--bg-cards);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);

  transition: box-shadow 0.2s;
}

.box:hover {
  box-shadow: 0.9rem 0.9rem 0.9rem 0.1rem rgba(0, 0, 0, 0.2);
}

/*PORPRIEDADE DA PARTE ASIDE*/

/*propriedades da caixa do usuário*/
.box.user {
  text-align: center;
}

.box.user img {
  margin-bottom: 3rem;
}

.box.user h2 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
}

.box.user div {
  font-size: 1.3rem;
  font-weight: 300;
}

.avatar {
  width: 12.8rem;
  border-radius: 50%;
  border: 0.2rem solid #00ff00;
}

/*propriedades da caixa de informações*/

.box.info div a {
  display: flex;
  align-items: center;
  gap: 2rem;

  width: fit-content;
  flex-wrap: wrap;

  margin-bottom: 2rem;

  color: var(--text-color);

  font-size: 1.3rem;
  font-weight: 300;

  transition: transform 0.3s;
}

.box.info div a:hover {
  transform: translateY(-7px);
}

/*propriedades da caixa de tecnologias*/

.techs-wrapper ul {
  margin-top: 2.6rem;

  list-style: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  flex-basis: 28.8rem;
}

.techs-wrapper ul li {
  background-color: var(--bg-techs);
  color: var(--body-bg-color);

  border-radius: 3rem;
  padding: 0.7rem 0;
  width: 8.6rem;

  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

/*propriedades da caixa experiências e educação*/

.box.port ul,
.box.studys ul {
  margin-left: 4rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-size: 1.2rem;
  font-weight: 300;
}

/*PROPRIEDADES DA PARTE MAIN*/

/*-------Meus Projetos-----------*/
.box.project {
  position: relative;
  z-index: 2;
}

.my-projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-projects button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  position: absolute;

  visibility: hidden;
  opacity: 0;

  transition: transform 0.5s;
  transform: translateY(-10%);
}

.boxes.show {
  position: relative;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.boxes .box {
  width: 29rem;
}

.boxes .box p,
.icons span {
  font-size: 1.3rem;
  font-weight: 300;
}

.project-name,
.icons {
  gap: 1.6rem;
}

.project-name,
.icons,
.icon-project,
.javascript {
  display: flex;
  align-items: center;
}

.boxes .box p {
  margin: 2rem 0;
}

.icons {
  justify-content: space-between;
}

.icon-project span,
.icon-project img {
  margin-right: 0.5rem;
}

.javascript {
  gap: 0.5rem;
}

/*--------POSTS-------------*/

.avatar-2 {
  width: 12.8rem;
  border-radius: 50%;
}

.box.post {
  display: flex;
  align-items: center;
}

.box.post .informations {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-left: 2rem;
}

.box.post .informations .title p,
.paragraph p {
  font-size: 1.4rem;
  font-weight: 300;
}

.box.post .informations .title p {
  margin-top: 0.5rem;
}

.paragraph p {
  margin-bottom: 1rem;
}

/*========== MEDIA QUERIES =========*/
/* large devices: 1023 >*/
@media (max-width: 1023px) {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    gap: 0;
  }

  main {
    position: absolute;
    visibility: hidden;
  }

  main.visible {
    position: static;
    visibility: visible;
  }

  aside.invisible {
    position: absolute;
    visibility: hidden;
    z-index: 2;
  }

  .icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .open-menu {
    top: 1.5rem;
    cursor: pointer;
    width: fit-content;
  }

  header nav {
    visibility: visible;
    position: static;
    justify-content: space-between;
    width: 90%;
  }

  nav,
  nav ul {
    display: flex;
    align-items: center;
  }

  nav ul {
    list-style: none;
    gap: 1rem;
  }

  nav ul li {
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.2s;
  }

  nav ul li:hover,
  .about-me.active,
  .feed.active {
    filter: brightness(1.5);
  }

  header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    background-color: var(--bg-cards);
    padding: 2rem;

    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  }

  .box.post {
    flex-direction: column;
    gap: 2.5rem;
  }
}
